body,
h1,
h2,
h3,
p,
picture,
figure {
  margin: 0
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

